@import url("~/assets/css/common/icon.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:before,
:after {
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: transparent;
  background-color: #F5F5F5;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}
label,
button,
a {
  cursor: pointer;
}
button,
input {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

header {
  padding: 15px;
}

header h1 {
  color: #fe742c;
}

footer {
  width: 100%;
  height: 74px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 -4px 20px 0 rgba(63, 76, 95, 0.3);
}

footer ul li {
  display: inline-block;
  width: 25%;
  line-height: 79px;
  text-align: center;
  font-size: 30px;
}

#content {
  padding: 10%;
}
